body {
    margin: auto;
}

footer {
    text-align: center;
    background-color: rgb(40, 66, 104);
    color: aliceblue;
    padding: 10px;
    margin-bottom: -15px;
    margin-left: -10px;
    width: 100%;
}

header {
    background-color: rgb(40, 66, 104);
    color: aliceblue;
    padding: 3px;
    font-size: 12px;
    
}

#keyfutuers {
    display: inline;
}

button {
    background-color: rgb(124, 235, 124);
    border-radius: 5px;
    border-color: rgb(124, 235, 124);
    font-size: 20px;
    width: 125px;
    height: 50px;
}
section {
    margin-top: 0;
    background-color: aqua;
}